@media(max-width: 1115px) {
    body {
        nav {
            .bigger-links {
                li {
                    a {
                        font-size: 12px;
                    }
                }
            }

            .smaller-links {
                li {
                    a {
                        font-size: 10px;
                    }
                }
            }
        }

        main {
            #h-content {
                margin: 6%;

                .header-content-1, .header-content-2 {
                    margin: 0 3%;
                    width: 44%;
                }

                .header-content-1 {
                    a.btn-primary {
                        display: none;
                    }
                }
            }
        }

        #footer {
            .footer-list {
                ul {
                    li {
                        a {
                            font-size: 10px !important;
                        }
                    }
                }
            }
            .footer-text {
                p {
                    font-size: 12px
                }
            }
        }
    }
}

@media(max-width: 980px) {
    body {
        #nav_content {
            overflow: hidden;
            position: relative;

            .bigger-links, .smaller-links {
                display: none;
            }

            #myLinks {
                display: none;
            }

            .mobile_icon {
                margin: 1em 1em 0 1em;
                display: block;
                float: right;

                hr {
                    width: 25px;
                    margin: 5px auto;
                    border: 1px solid #fff;
                }
            }

            ul {
                color: white;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                display: block;

                li {
                    a {
                        display: block;
                    }
                }
            }
        }

        #services-section {
            width: 100% !important;
        }
    }
}

@media(max-width: 900px) {
    main {
        .mobile_sep {
            width: 80%;
            border: 2px solid $light-gray;
            display: block;
            margin: 0 auto;
        }

        text-align: center;

        #h-content {
            .header-content {

                &-1 {
                    margin: 0 !important;
                    width: 100% !important;
                    display: block;
                    height: 45vh  !important;

                    a.btn-primary {
                        display: none;
                    }
    
                    h1 {
                        margin: 0 !important;
                        padding: 0 !important;
                        font-size: 3.5vh;
                        text-align: center !important;
                    }
    
                    hr {
                        margin: 0 !important;
                        border: 1px solid white !important;
                        width: 100%;
                    }
    
                    p {
                        width: 100%;
                        padding: 2em 0 !important;
                        font-size: 2.5vh;
                    }
                }

                &-2 {
                    margin: 0 !important;
                    width: 100% !important;
                    display: block;
                    height: 45vh  !important;

                    h2 {
                        margin: 0 !important;
                        padding: 0 !important;
                        font-size: 3.5vh;
                        text-align: center !important;
                    }

                    p {
                        width: 100%;
                        font-size: 2.5vh;
                    }

                    #header-img {
                        display: none;
                    }
                }
            }
        }

        #service-content {
            .services- {
                &1, &2 {
                    width: 100% !important;
                    margin: 0 auto;
                }

                &2 {
                    @include set-background(#fff);

                    h2 {
                        font-size: 25px !important;
                    }

                    .service-content {
                        width: 100% !important;
                        padding: 0 !important;
                        .custom-list, &-text {
                            width: 100% !important;
                            margin: 0 auto !important;
                            padding-bottom: 3em;

                            #list {
                                margin-bottom: 2em;
                                li {
                                    width: 100% ;
                                }
                            }

                            h3 {
                                font-size: 25px;
                            }

                            h4 {
                                font-size: 20px;
                                margin-bottom: 1em
                            }
                        }
                        &-text {
                            @include set-background($primary-blue);
                            padding: 3em;
                            h3 {
                                font-size: 20px !important;
                            }
                        }
                    }
                }
            }
        }


        #contacts-content {
            padding: 0 !important;
            width: 100%  !important;
            h1 {
                text-align: center !important;
            }
            hr {
                display: none;
            }

            .contact-text {
                width: 100% !important;
                display: block;
            }
            #contact-form {
                padding-top: 0 !important;
                width: 100% !important;
                display: block;
            }
        }
    }

    footer {
        #footer {
            .footer- {
                &text, &list {
                    width: 100% !important;
                    margin: 0 auto;

                    p {
                        text-align: center;
                    }
                }
                &list {
                    ul, #copyright {
                        text-align: center !important;
                        float: none !important;
                        width: 100% !important;
                        margin: 1em auto !important;
                    }
                    ul {
                        li {
                            a {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 800px) {
    #about-section {
        .about-content {
            width: 100% !important;
            .company-images {
                img {
                    width: 100% !important;
                    object-fit: cover;
                }
            }
        }
    }

    #services-section {
        .services-header {
            .services-images {
                img {
                    width: 100% !important;
                    height: 500px !important;
                }
            }
        }
    }

    #works-section {
        .works-row {
            .img_wrap {
                width: 100% !important;
                height: 70vh !important;
                margin-bottom: 2em !important;

                img {
                    width: 100% !important;
                    height: 70vh !important;
                    object-fit: cover;
                }
            }
        }
    }
}

@media(max-width: 550px) {
    #about-section {
        .about-header {
            padding: 2em 0 2.5em !important;
            h1 {
                font-size: 1.5em;
            }
        }

        .about-content {
            padding: 3em 1.2em !important;
        }
    }

    #services-section {
        padding: 1em !important;
    }
}

@media(max-width: 470px) {
    #h-content {
        .header-content {
            &-1, &-2 {
                p {
                    font-size: 2vh !important;
                }
            }
        }
    }

    #services-section {
        padding: 1em !important;

        .our-services {
            margin: 1em !important;
        }
    }
}

@media(max-width: 350px) {
    #h-content {
        .header-content {
            &-1, &-2 {
                p {
                    font-size: 1.65vh !important;
                }

                h1, h2 {
                    font-size: 2.5vh !important;
                }
            }
        }
    }
}